        
.form-section{
  background-image: url(../images/bg-shorten-mobile.svg);
  background-repeat: no-repeat; 
  background-size: 100%; 
  background-color: $darkviolet;   
  width: 80%;
  height: auto;
  padding-bottom: 20px;
  margin: 0 auto;
  text-align: center; 
  border-radius: 10px;
  margin-bottom: 19px;
  @media screen and (min-width: $tablet){ 
    background-image: url(../images/bg-shorten-desktop.svg);
    text-align: left;
    height: 150px;
  }
  #shorten{
    padding: 3% 3%;
    font-size: 17px;
    font-weight: 600;
    border-radius: 5px;
    border-style: solid;
    margin-top: 24px;
    border-color:$red;
    width:auto;
    color:$red;
    @media screen and (min-width: $tablet){ 
      width: 68%;
      height: 59px;
      padding: 0;
      margin-top: 49px;
      margin-left: 8%;
    }
  }
  label{
    font-size:12px;
    color:$red;
    margin-left: 42px;
    float: left;
    font-weight: 700;
    margin-top: 2px;
    margin-bottom: 11px;
    @media screen and (min-width: $tablet){
      position: absolute;
      margin-top: 3px;
      display: flex;
      margin-left: 7%;
    }  
  }
  .shorten-it{     
    padding: 2% 28%;
    margin-top: 0;
    border-radius: 5px;
    color:$white;                  ;
    font-weight: 700;
    background-color:$primary;
    border: none;
    @media screen and (min-width: $tablet){  
      width: 152px;
      height: 57px;
      padding: 0;
      margin-left: 16px;
    } 
  }                    
}
#message{
  background-color:rgb(243, 243, 243);
  padding: 17px;
  width: 80%;
  margin-left: 10%;
  border-radius: 10px;
}
