
.navbar-text {
  margin-top: 30px;
  width: 98%;
  .logo-btn{
    display: flex;
    justify-content:space-between;
  }
  .list{  
    background-color: hsl(257, 27%, 26%);
    text-align: center;
    border-radius: 10px;
    .links{
      color:#fff;/*!important;  */
      font-size:20px;
      font-weight: bolder;
      padding: 20px 0;
    }
    .line-hr{
      background-color: rgb(100, 75, 109);
      width: 89%;
      height: 1px;
      margin-left: auto;
      margin-right: auto;
    }
    .list-sign-up {
      background-color:hsl(180, 66%, 49%);
      border:none;
      color:#fff;
      padding: 11px 33%;
      font-size: 18px;
      font-weight: 700;
      border-radius: 40px;
      //padding-bottom: 11%;
    }
  }       
}

@media screen and (min-width:1440px){   
  .navbar-text {
    background-color:#fff!important;
    margin-left: 6%;
    display:flex;
    .collapse{
        margin-left: 5%;
      .bord  {
        padding: 20px;
        background-color:#fff;
      }
      .links{
        color: grey!important;
      }
    }
  }
}

  

